<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--styles-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Chat App : Welcome Page</title>
  </head>
  <style>
    body{
        background: url('img/bg.jpg');
        background-size: cover;
        background-position: fixed;
        color: black;
    }
    .opaqueblock{
      background-color: rgba(0,0,0,0.2);
    }
    .btn-circle{
      border-radius: 50%;
    }
    .btn-circle i{
      color: white;
    }
    .startchat{
      background-color: #258cf3;
      /* display: none; */
    }
    .startchat:hover{
      background-color:  #8e98f5;
    }
    .startregister{
      background-color: #1db24d;
    }
    .startregister:hover{
      background-color: #05fa54;
    }
    .btn-circle i:hover{
      color: black;
    }
    .btn-group{
      right:5%;
      top:85%;
      position: fixed;
    }
  </style>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 opaqueblock">
          <h5 class="text-center"><%= (message)?message:'Welcome to Chat App'; %></h5>
          <div class="pull-right btn-group opaqueblock">
            <button class="startregister btn btn-circle">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="startchat btn btn-circle">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div id="joinModal" class="modal fade" role="dialog">
          <div class="modal-dialog opaqueblock">

            <!-- Modal content-->
            <div class="modal-content">
              <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div> -->
              <div class="modal-body">
                <form method="post">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                  <div class="form-group">
                    <label class="control-label">Email ID</label>
                    <input type="email" name="emailid" class="form-control">
                  </div>
                  <button class="btn"><i class="fa fa-plus-circle" aria-hidden="true" style="color:#8e98f5;"></i> Join</button>
                </form>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- Colored FAB button -->

  </body>
  <script>
    $('.startregister').on('click', function(){
      $('.startchat').show();
      $('#joinModal').modal('show');
    });
  </script>
</html>
